<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qkiesproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QkiesProject">
        <activity android:name=".laporan7"></activity>
        <activity android:name=".laporan6" />
        <activity android:name=".laporan5" />
        <activity android:name=".laporan4" />
        <activity android:name=".laporan3" />
        <activity android:name=".laporan2" />
        <activity android:name=".laporan" />
        <activity android:name=".profil" />
        <activity android:name=".sensor" />
        <activity android:name=".kalkulator" />
        <activity android:name=".menu" />
        <activity android:name=".login" />
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>